<launch>

     <env name="ROSCONSOLE_FORMAT" value="[${thread}] [${node}/${function}:${line}]: ${message}"/>
  <node pkg="mapviz" type="mapviz" name="$(anon mapviz)" output="screen"/>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" output="screen">
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="swri"/>
    <!--rosparam param="local_xy_origins">
      [{ name: swri,
         latitude: 43 ,
         longitude: 11.21,
         altitude: 10,
         heading: 0.0}]
    </rosparam-->
      <rosparam param="local_xy_origins">
      [{ name: swri,
         latitude: 52.541550 ,
         longitude: 13.338400,
         altitude: 10,
         heading: 0.0}]
    </rosparam>
  </node>

<node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100" output="screen"  />
</launch>