*.cproject
*.project
*.pydevproject
*cmake_install.cmake
*.tar.gz
*.tgz
*.orig
*.bag
*~
.idea
_gtest_from_src/
bin/
build/
msg_gen/
srv_gen/
*.cfgc
version.txt
cmake-build-debug/
.vscode/
Gemfile.lock
_site/
venv/
__pycache__/
