*.cproject
*.project
*.pydevproject
*cmake_install.cmake
*.tar.gz
*.tgz
*.orig
*.bag
*~
.idea
cmake-build-debug/
lib/
_gtest_from_src/
bin/
build/
docs/
msg_gen/
srv_gen/
*.cfgc
version.txt
cmake-build-debug/
mapviz/log
mapviz/install
install/
log/
.vscode/
