<library path="lib/librqt_mapviz">
    <class name="mapviz/rqt_mapviz" type="mapviz::RqtMapviz" base_class_type="rqt_gui_cpp::Plugin">
        <description>
            Mapviz is a ROS based visualization tool with a plug-in system similar to RVIZ focused on visualizing 2D data.
        </description>
        <qtgui>
            <group>
                <label>Visualization</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to visualization.</statustip>
            </group>
            <label>Mapviz</label>
            <icon type="theme">image-x-generic</icon>
            <statustip>2D visualization tool</statustip>
        </qtgui>
    </class>
</library>
